
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    background-color: lightslategray;
    padding: 10px;
    border-radius: 10%;
  }
  
  #resultado {
    text-align: right;
    border: 2px solid #00b8d4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: darkslategrey;
    color: #fff;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #numeroActual {
    text-align: right;
    border: 2px solid #00b8d4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: darkslategrey;
    color: #fff;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  #numeroActual2 {
    text-align: right;
    border: 2px solid #00b8d4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: darkslategrey;
    color: #fff;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .botonCalc {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    background-color: #444;
    color: #fff;
    border: 2px solid #555;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .botonCalc:hover {
    background-color: #555;
  }
  
  .botonOp {
    font-weight: bold;
    font-style: italic;
    font-size:large;
    background-color: #006699;
    color: #fff;
    border: 2px solid #006699;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .botonOp:hover {
    background-color: #fff;
    color: #006699;
  }
  
  .botonOpIgual {
    font-weight: bold;
    font-style: italic;
    font-size:large;
    background-color: #112129 ;
    color: #fff;
    border: 2px solid #006699;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .botonOpIgual:hover {
    background-color: #fff;
    color: #006699;
  }

  .interfazCalcu{
    display: inline-block;
  } 
  
  #divHistorial{
    position: absolute;
    top: 40px; 
    height: 450px; 
    width: 225px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #112129;
    padding: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5%;
  }

  #botonHistorial{
    background-color: transparent;
    font-weight: bold;
    font-style: italic;
    font-size:medium;
    color: #fff;
    border-color: transparent;
  }